.timeline ul{
    list-style: none;
    margin: 0;
    padding-bottom: 25px;
    margin: 40px 45px 40px 90px !important;
    position: relative;
}

.timeline ul:before{
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    height: 100%;
    border: 1px solid #eee;
}

.timeline ul li{
    margin: 15px 20px;
    margin-right: 0;
    position: relative;
    height: 45px;
}

.timeline ul li > span{
    content: '';
    position: absolute;
    top: -15px;
    left: -35px;
    width: 110%;
    border: 1px solid #eee;
    z-index: 1;
}


.timeline ul li .time span{
    position: absolute;
    top: -25px;
    left: -80px;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    width: 40px;
    text-align: right;
}

.card1{
    padding: 5px;
}

.active-date{
  background: #4cadad;
  border-radius: 50%;
  color: #fff !important;
}

.timeline-head{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
}

.timeline-head .date-inc{
    border-radius: 25px;
    background-color: #4eb6b6;
    -webkit-box-shadow: 0px 0px 12px -3px rgba(255, 255, 255,1);
    -moz-box-shadow: 0px 0px 12px -3px rgb(255, 255, 255);
    box-shadow: 0px 0px 12px -3px rgb(161, 161, 161);
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.timeline-head .date-inc .calBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeline-head .date-inc .calBtn.right {
  transform: rotate(180deg);
  margin-left: 10px;
}
.timeline-head .date-inc .calBtn svg {
  width: 20px;
  height: 20px;
}
.timeline-head .date-inc .calBtn svg path {
  fill: #FFF;
}
.timeline-head img, .cal-inc img{
    border-radius: 20%;
    padding: 8px;
    width: 30px;
    height: 30px;
}

.timeline-heading h4, .months h4{
    color: #000;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

.timeline-row{
  position: relative;
}

.timeline-inner{
    -webkit-box-shadow: 0px 0px 10px -3px rgba(150,147,150,0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(150,147,150,0.5);
    box-shadow: 0px 0px 10px -3px rgba(150,147,150,0.5);
    border-radius: 5px;
    padding: 3px 10px;
    z-index: 10;
}

.timeline-inner p{
  font-size: 14px;
}

.t-block{
  display: flex;
  justify-content: space-between;
}
.timeline-pad{
  padding:0 5px;
  margin-top: -15px;
  position: absolute;
  z-index: 10;
}

#cat-1{
  background: #ffecc9;
}

#cat-2{
  background:  #d0fff2;
}

#cat-3{
  background: #c9e8ff;
}

#cat-4{
  background: #c7c8fa;
}

#cat-5{
  background: #ffdacd;
}

#cat-6{
  background: #fac6cf;
}

.timeline-inner p{
    margin: 0;
    padding: 5px 0;
}

.month-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.months h4{
    color: #1b1b1b;
}

.cal-inc img{
    background: #4cadad;
    border-radius: 20%;
    padding: 8px;
    width: 30px;
    height: 30px;
}

.cal-inner-wrapper{
    padding: 20px;
    background: rgba(146, 221, 221, 0.2);
    border-radius: 15px;
}

.weekend ul, .days ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.weekend ul li, .days ul li{
    width: 14%;
    font-size: 14px;
    font-weight: 600;
    color: #777;
    letter-spacing: 1px;
    text-align: center;
    padding:10px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.category-list ul{
    list-style: none;
    padding: 20px 0px;
}

.category-list{
    margin: 15px 0px;
}

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
    
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 9px;
    width: 8px;
    border: solid white;
    border-width: 0 0px 3px 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #cat-1:after, #cat-2:after, #cat-3:after, #cat-4:after, #cat-5:after, #cat-6:after{
    left: 7px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }

  .container input:checked ~ #cat-1 {
    background: #ffecc9;
  }

  .container input:checked ~ #cat-2 {
    background:  #d0fff2;
  }

  .container input:checked ~ #cat-3 {
    background: #c9e8ff;
  }

  .container input:checked ~ #cat-4 {
    background: #c7c8fa;
  }

  .container input:checked ~ #cat-5 {
    background: #ffdacd;
  }

  .container input:checked ~ #cat-6 {
    background: #fac6cf;
  }
  

.task-wrap{
  height: fit-content;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(150,147,150,0.5);
  -moz-box-shadow: 0px 0px 10px -3px rgba(150,147,150,0.5);
  box-shadow: 0px 0px 10px -3px rgba(150,147,150,0.5);
  border-radius: 5px;
  padding:20px 20px 0;
}

.task-heading{
  display: flex;
  justify-content: space-between;
}

.task-head{
   padding: 2px 10px;
   border-radius: 25px;
   margin-left: 10px;
   margin-bottom: 15px;
}

.time{
  display: flex;
  justify-content: space-between;
}

.time p, .schedule-day{
  color: #777;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.task-card{
  padding: 20px 10px;
  border-bottom: 1px dashed #dadada;
}

.task-card p{
  color: #5d5d5d;
  margin: 0;
  
}

.task-card a{
  color: #2b7474;
}

.task-card a:hover{
  color: #4b4b4b;
}

.task-inner{
  display: flex;
}

/* added by Vijay Bhatiya */
.cardDetails {
  display: flex;
  flex-flow: wrap;
  padding: 0 10px;
}
.cardDetails .cardBlock {
  width: 100%;
  margin-bottom: 7px;
}
.cardDetails.col2block .cardBlock {
  width: calc(50% - 15px);
}
.cardDetails.col2block .cardBlock:nth-child(2n) {
  margin-left: 15px;
}
.cardDetails .cardBlock .fieldLabel {
  width: 100%;
  display: block;
  font-size: 11px;
  font-weight: 700;
  color: #4cadad;
  line-height: 13px;
  margin-bottom: 2px;
}
.taskHeaderParent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.taskHeaderParent .task-head {
  margin-bottom: 0;
}

.btn-primary {
  background-color: rgb(76, 173, 173);
  border-color: rgb(76, 173, 173);
}
.btn-primary:hover {
  background-color: rgb(64 162 162);
  border-color: rgb(64 162 162);
}

.cal-inner-wrapper {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.react-calendar__navigation {
  display: flex;
  flex-flow: nowrap;
}
.react-calendar__navigation > * {
  padding: 10px;
}
.react-calendar__navigation__arrow {
  width: 24px;
}
.react-calendar__navigation__label {
  font-size: 15px;
  font-weight: 300;
}
.react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday {
  padding: 8px 4px;
  font-size: 13px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}
.react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.react-calendar__month-view__days .react-calendar__tile {
  padding: 8px 4px;
  font-size: 12px;
  border-radius: 3px;
  transition: all ease 0.2s;
}
.react-calendar__month-view__days .react-calendar__tile:hover {
  background: #efefef;
  transition: all ease 0.2s;
}
.react-calendar__month-view__days .react-calendar__tile.react-calendar__month-view__days__day--neighboringMonth abbr {
  color: #bfbfbf;
}
.react-calendar__month-view__days .react-calendar__tile.react-calendar__tile--now {
  font-weight: 600;
  color: #4eb6b6;
}
.react-calendar__month-view__days .react-calendar__tile.react-calendar__tile--active {
  background: #4eb6b6;
  color: #fff;
}
.ui.form .field {
  margin: 0px;
}
.ui.form .modelFormUi .field>label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}

/* Added by Vijay Bhatiya */
.timelineHome {
  background: #FFF;
  border-radius: 10px;
}