@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
body {
  color: #1b1b1b;
  background-color: #f8f9fa;
}

.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 101;
  /* background-image: url(../image/2.png); */
  background: #f6fafa;
  background: linear-gradient(180deg, rgba(246,250,250,1) 0%, rgba(184,222,222,1) 100%);
  background-position: bottom center;
  background-size: cover;
  transition: width 250ms;
  overflow: auto;
}

.sidebar-brand {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.sidebar .sidebar-brand img {
  width: 60px;
  height: 75px;
}
.sidebar .sidebar-brand h3 span {
  color: #4cadad;
  font-weight: 700;
}
.sidebar-menu {
  margin-top: 2rem;
}
.sidebar-menu li {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 1rem;
}
.sidebar-menu a {
  display: block;
  font-size: 1.1rem;
  color: #1b1b1b;
}
.sidebar-menu a span:first-child {
  padding-right: 1rem;
  padding-left: 1rem;
}
.sidebar-menu li button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 50px 0 0 50px;
}
.sidebar-menu li button > i {
  width: 20px;
}
.sidebar-menu li button > i svg {
  width: 18px;
  height: 18px;
}
.sidebar-menu li button > i svg path,
.sidebar-menu li button > i svg rect,
.sidebar-menu li button > i svg line,
.sidebar-menu li button > i svg circle {
  fill: #1b1b1b;
}
.sidebar-menu li.withSubItems {
  position: relative;
}
.sidebar-menu li.active::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 10px;
  background-color: #fff;
  border-radius: 16px 0 0 16px;
}
.sidebar-menu li.withSubItems::after {
  content: '+';
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 20px;
  font-weight: 300;
  /* width: 12px;
  height: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath d='M32,51.5,0,18.83,6.62,12.5,32,38.76,57.38,12.5,64,18.83Z' /%3E%3C/svg%3E") no-repeat center;
  background-size: cover; */
}
.sidebar-menu li.withSubItems.active::after {
  content: "-";
}
.sidebar-menu li.withSubItems .collapse.show ul {
  margin-left: 30px;
}
.sidebar-menu li.withSubItems .collapse.show ul li {
  padding-left: 0px;
}
.sidebar-menu li.withSubItems .collapse.show ul li button {
  position: relative;
  margin-left: 15px;
  width: auto;
}
.sidebar-menu li.withSubItems .collapse.show ul li button::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0px;
  width: 6px;
  height: 6px;
  background: #313131;
  border-radius: 50%;
}
.sidebar-menu li.withSubItems .collapse.show ul li button#active::before {
  background: #40a2a2;
}
.sidebar-menu li.withSubItems .collapse.show ul li button > span {
  margin-left: 0px;
}
.sidebar-menu li button > span {
  flex: 2;
  margin-left: 10px;
  text-align: left;
}
.sidebar-menu button#active {
  background-color: #fff;
  color: #40a2a2;
}
.sidebar-menu button#active > i svg path,
.sidebar-menu button#active > i svg rect,
.sidebar-menu button#active > i svg line,
.sidebar-menu button#active > i svg circle {
  fill: #40a2a2;
}
#nav-toggel {
  display: none;
}
#nav-toggel:checked + .sidebar {
  width: 80px;
}
#nav-toggel:checked + .sidebar .sidebar-brand,
#nav-toggel:checked + .sidebar li {
  padding-left: 0;
}
#nav-toggel:checked + .sidebar .sidebar-brand h3,
#nav-toggel:checked + .sidebar li a {
  text-align: center;
}
#nav-toggel:checked + .sidebar .sidebar-brand h3 span:last-child,
#nav-toggel:checked + .sidebar .sidebar-menu li button > span {
  display: none;
}
#nav-toggel:checked + .sidebar .sidebar-menu li button {
  justify-content: center;
}
#nav-toggel:checked + .sidebar .sidebar-menu li button > i svg {
  width: 22px;
  height: 22px;
}
#nav-toggel:checked ~ .main-content {
  margin-left: 90px;
}
#nav-toggel:checked ~ .main-content header {
  width: calc(100% - 140px);
  left: 110px;
}
.main-content {
  transition: margin-left 250ms;
  margin-left: 280px;
}
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  position: fixed;
  left: 300px;
  top: 0;
  width: calc(100% - 320px);
  z-index: 100;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  transition: left 250ms;
}
header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}
header h4 {
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 1.6rem;
}
.search-wrapper {
  border: 1px solid #f0f0f0;
  border-radius: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.5);
}
.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.4rem;
  color: #3c3c3c;
  font-weight: 100;
}
.search-wrapper input {
  height: 100%;
  padding: 0.5px;
  border: none;
  outline: none;
  background-color: transparent;
}
.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.user-wrapper h6 {
  margin-bottom: 0;
  margin-top: 5px;
}
.user-wrapper small {
  color: grey;
}

main {
  margin-top: 85px;
  padding: 1.5rem;
  min-height: calc(100vh - 85px);
}
.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.5);
  padding: 1rem;
}
.ui.form .filter-wrapper {
  align-items: flex-start;
}
.filter-wrapper .filterLeft {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filter-wrapper .filterLeft label {
  margin-bottom: 0px;
}
.scheduleField {
  width: 100%;
  max-width: 200px;
  margin: 0 10px;
}
.filter-wrapper > label {
  margin: 0;
}
.filter-wrapper .filter {
  width: 19%;
  display: block;
}
.filter-wrapper .filter label {
  font-size: 14px;
  color: black;
  font-weight: 500;
}
.filter-wrapper .btn {
  width: 100%;
  margin-top: 0.4rem;
}
.table-content .fa {
  color: #7b7b7b;
  font-size: 22px;
}
.table-content td {
  padding: 0.5rem;
}
.table-content td img {
  border-radius: 50%;
  margin-right: 0.5rem;
}
.table-content td span:last-child {
  font-weight: 600;
}
.table-content th:nth-child(2) {
  width: 25%;
}
.table-content th:nth-child(2),
.table-content th:nth-child(3),
.table-content th:nth-child(4),
.table-content th:nth-child(5),
.table-content th:nth-child(6) {
  width: 22%;
}
.table-content td:first-child,
.table-content th:first-child {
  padding: 10px;
}
.table-content td:first-child {
  padding-top: 1.4rem;
}
/* .table-content td:nth-child(3),
.table-content td:nth-child(4),
.table-content td:nth-child(5),
.table-content td:nth-child(6),
.table-content td:nth-child(7) {
  padding-top: 1.4rem;
} */
.table td, .table th {
  vertical-align: middle;
}

/*Responsive*/

@media only screen and (max-width: 1200px) {
  .search-wrapper {
    display: none;
  }
  .sidebar {
    left: -100% !important;
  }
  header h4 {
    display: flex;
    align-items: center;
    padding: 0;
  }
  header h4 label {
    padding-top: 0;
    display: inline-block;
    background: #4cadad;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  header h4 .name {
    padding-left: 1rem;
    padding-top: -10px;
  }
  header h4 label .fa {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
  }
  .main-content {
    width: 100%;
    margin-left: 0rem;
  }
  .main-content header {
    width: 100%;
    left: 0px;
    border-radius: 0;
  }
  #nav-toggel:checked + .sidebar {
    left: 0 !important;
    z-index: 100;
    width: 275px;
  }
  .sidebar:hover {
    width: 325px;
    z-index: 200;
  }
  #nav-toggel:checked + .sidebar .sidebar-brand,
  #nav-toggel:checked + .sidebar .sidebar:hover li {
    padding-left: 1rem;
  }
  #nav-toggel:checked + .sidebar .sidebar-brand h3,
  #nav-toggel:checked + .sidebar li a {
    text-align: left;
  }
  #nav-toggel:checked + .sidebar .sidebar-brand h3 span:last-child,
  #nav-toggel:checked + .sidebar li a span:last-child {
    display: inline;
  }

  #nav-toggel:checked + .main-content {
    margin-left: 0rem;
  }
  #nav-toggel:checked ~ .main-content header {
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 980px) {
  header {
    padding: 0.75rem;
  }
  header h4 {
    font-size: 1.3rem;
  }
  .user-wrapper div {
    display: none;
  }
  .filter-wrapper .filter {
    width: 48%;
    display: block;
    margin-bottom: 10px;
  }

  .filter-wrapper .fil-btn {
    width: 96%;
    display: block;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .filter-wrapper .filter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .filter-wrapper label {
    width: 25%;
    margin-top: 0.75rem;
  }
}

/* Added by Vijay Bhatiya */
.errorMessage {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  color: red;
  margin-top: 3px;
}
.filterTopParent {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  background-color: white;
}
.filterTopParent .filter-wrapper {
  box-shadow: none;
  border-radius: 0px;
  background-color: transparent;
}
.filter-wrapper + .ui.form {
  border-top: 1px solid rgba(34,36,38,.15);
}
.filter-wrapper + .ui.form .filter-wrapper {
  box-shadow: none;
}
.resultsForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.resultsLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.resultsLabel > label {
  line-height: 30px;
  margin: 0;
}
.resultsLabel .streamField {
  width: 200px;
  margin: 0 10px;
}
.resultsLabel .streamField .form-control {
  width: 100%;
}
.resultsForm .fil-btn {
  width: 100px;
}