@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  /* color: #1b1b1b; */
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
/* Home Page */
.cl-logo {
  width: 70px;
  height: 80px;
}
header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}
#navbarNavAltMarkup a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
.btn-contact {
  border: 2px solid #4cadad;
  color: #4cadad;
}
.log-pad,
.con-pad {
  padding: 15px 20px;
}
.btn-contact:hover {
  border: 2px solid #4cadad;
  background-color: #4cadad;
  color: #fff !important;
}
.btn-login {
  border: 2px solid #4cadad;
  background-color: #4cadad;
  color: #fff;
  padding-right: 25px;
  padding-left: 25px;
}
.btn-login:hover {
  background-color: transparent;
  border: 2px solid #4cadad;
  color: #4cadad;
}
.navbar-nav .nav-link {
  margin: 0 10px;
}
.header-img {
  padding-top: 70px;
}
.header-content {
  padding: 220px 20px;
}
.header-content h6 {
  font-weight: 500;
  letter-spacing: 1px;
}
.header-content h1 {
  margin: 15px 0;
  color: #ffa26b;
  font-weight: 700;
  letter-spacing: 1px;
}
.header-content p {
  margin-bottom: 20px;
}
.appDownload {
  width: 100%;
  display: block;
  margin: auto;
}
.app-btn img {
  width: 49%;
  padding: 0 10px;
}
#about,
#features,
#pricing,
#getintouch,
#demo,
#download {
  padding: 80px 0;
}
.heading {
  margin: 0 0 20px 0;
  color: #5b5b5b;
  font-size: 32px;
}
.about-img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
}
#about .row .col-md-6 .about-text {
  padding: 70px 40px;
  height: 650px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.product-image {
  background-image: url(../image/1.jpg);
  height: 650px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .header-img {
    width: 100%;
    display: block;
    margin: 120px auto;
  }
  .header-content {
    padding: 130px 20px 80px;
  }
  #about .row .col-md-6 .about-text {
    padding: 40px;
    height: 650px;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .header-img {
    margin: 150px auto;
  }
  .header-content {
    padding: 120px 20px 80px;
  }
  #about .row .col-md-6 .about-text {
    padding: 20px;
    height: 750px;
  }
  .product-image {
    height: 750px;
  }
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .header-img {
    display: none;
  }
  .about-img img {
    display: none;
  }
  .about-img1 img {
    display: block;
    max-height: 500px;
    width: 100%;
    margin: 30px auto;
  }
  .header-content {
    padding: 130px 20px 80px;
  }
  .app-btn img {
    margin-top: 15px;
    width: 49%;
  }
  #about {
    padding-bottom: 40px;
  }
  .about-img {
    display: none;
  }
  .product-image1 {
    background-image: url(../image/1.jpg);
    height: 450px;
    margin: 20px 0;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #about .row .col-md-6 .about-text {
    padding: 20px;
    height: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .log-pad,
  .con-pad {
    padding: 12px 15px;
  }
}

/*Features*/
#features .card {
  border: none;
  height: 320px;
  margin-bottom: 30px;
}
#features .card img {
  width: 25%;
  padding: 25px 25px 15px;
  margin-top: 20px;
}
#features .card ul {
  padding-left: 0;
}
#features .card li {
  list-style: none;
}
@media (max-width: 1200px) {
  #features .card {
    height: 350px;
  }
  #features .card img {
    width: 32%;
    padding: 25px 25px 5px;
    margin-top: 20px;
  }
}

/*Demo*/
#demo .card {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12x -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.75);
}
.demo-img img {
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.demo-img {
  position: relative;
}
.demo-img .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.demo-img .play-button {
  position: absolute;
  display: block;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#exampleModal .modal-body {
  padding: 0;
}
#exampleModal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.demo-video {
  width: 650px;
  height: 350px;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content {
  background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price {
  background-color: #f6f6f6;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  color: #525252;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  color: #414141;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  color: #414141;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .cent {
  color: #414141;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .month {
  color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li {
  color: #a7a7a7;
  background-color: #fff;
}

#generic_price_table .generic_content .generic_feature_list ul li span {
  color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover {
  background-color: #e4e4e4;
  border-left: 5px solid #4cadad;
}

#generic_price_table .generic_content .generic_price_btn a {
  border: 1px solid #4cadad;
  color: #4cadad;
}

#generic_price_table
  .generic_content.active
  .generic_head_price
  .generic_head_content
  .head_bg,
#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-color: #4cadad rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #4cadad;
  color: #fff;
}

#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head
  span,
#generic_price_table
  .generic_content.active
  .generic_head_price
  .generic_head_content
  .head
  span {
  color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
  background-color: #4cadad;
  color: #fff;
}
#generic_price_table {
  margin: 50px 0 50px 0;
  font-family: "Raleway", sans-serif;
}
.row .table {
  padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content {
  overflow: hidden;
  position: relative;
  text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
  padding: 0 0 0px 0;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content {
  margin: 0 0 50px 0;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg {
  border-style: solid;
  border-width: 90px 1411px 23px 399px;
  position: absolute;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head {
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  span {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag {
  padding: 5px 0 15px;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price {
  display: block;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .sign {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .currency {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 0px;
  padding: 0;
  vertical-align: middle;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .price
  .cent {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  vertical-align: bottom;
}

#generic_price_table
  .generic_content
  .generic_head_price
  .generic_price_tag
  .month {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul {
  list-style: none;
  padding: 15px 0 0 0;
  margin: 0;
  background-color: #fff;
  height: 270px;
}

#generic_price_table .generic_content .generic_feature_list ul li {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 15px 0;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li .fa {
  padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn {
  margin: 0;
}

#generic_price_table .generic_content .generic_price_btn a {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  outline: medium none;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head_bg,
#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head_bg,
#generic_price_table
  .generic_content
  .generic_head_price
  .generic_head_content
  .head
  h2,
#generic_price_table
  .generic_content:hover
  .generic_head_price
  .generic_head_content
  .head
  h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 320px) {
}

@media (max-width: 767px) {
  #generic_price_table .generic_content {
    margin-bottom: 75px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #generic_price_table .col-md-3 {
    float: left;
    width: 50%;
  }

  #generic_price_table .col-md-4 {
    float: left;
    width: 50%;
  }

  #generic_price_table .generic_content {
    margin-bottom: 75px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home {
  font-family: "Raleway", sans-serif;
}

.text-center h1,
.text-center h1 a {
  color: #7885cb;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}
.demo-pic {
  margin: 0 auto;
}
.demo-pic:hover {
  opacity: 0.7;
}

#generic_price_table_home ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
}
#generic_price_table_home li {
  float: left;
}
#generic_price_table_home li + li {
  margin-left: 10px;
  padding-bottom: 10px;
}
#generic_price_table_home li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0px;
}
#generic_price_table_home .blue {
  background: #3498db;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald {
  background: #4cadad;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey {
  background: #7f8c8d;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight {
  background: #34495e;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange {
  background: #e67e22;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple {
  background: #9b59b6;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red {
  background: #e74c3c;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise {
  background: #1abc9c;
  transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}
#generic_price_table_home .divider span {
  width: 100%;
  display: table;
  height: 2px;
  background: #ddd;
  margin: 50px auto;
  line-height: 2px;
}
#generic_price_table_home .itemname {
  text-align: center;
  font-size: 50px;
  padding: 50px 0 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  text-decoration: none;
  font-weight: 300;
}
#generic_price_table_home .itemnametext {
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  display: inline-block;
}
#generic_price_table_home .footer {
  padding: 40px 0;
}

.price-heading {
  text-align: center;
}
.price-heading h1 {
  color: #666;
  margin: 0;
  padding: 0 0 50px 0;
}
.demo-button {
  background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.bottom_btn {
  background-color: #333333;
  color: #ffffff;
  display: table;
  font-size: 28px;
  margin: 60px auto 20px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
}
.demo-button:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}
.bottom_btn:hover {
  background-color: #666;
  color: #fff;
  text-decoration: none;
}

.signup-login input::placeholder,
.login-content input::placeholder {
  color: #cacaca;
}

/*Get In Touch*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea::-moz-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.contact-img {
  background-image: url(../image/contact.png);
  display: block;
  margin: auto;
  height: 550px;
  width: 85%;
  background-size: cover;
  background-position: center;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 75%;
}

.contact1-form-title {
  display: block;
  color: #4b4b4b;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #4cadad;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
  .contact-img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .contact1-form {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

/*Footer*/

.footer {
  background-color: #4cadad;
}
.footer p,
.footer .nav-link {
  color: #fff;
}

.footer .fa {
  font-size: 28px;
}

/*Login Page*/
.wrapper {
  background-image: url(../image/wrap-bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
}

.login-bg {
  background-image: url(../image/login-bg1.png);
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.inner-wrap {
  box-shadow: 0px 0px 24px -7px rgba(63, 63, 63, 0.75);
  -webkit-box-shadow: 0px 0px 24px -7px rgba(63, 63, 63, 0.75);
  -moz-box-shadow: 0px 0px 24px -7px rgba(63, 63, 63, 0.75);
  height: 75vh;
}

.inner-login {
  padding: 70px 70px;
}

.input-group-text {
  width: 40px;
}

.form-control:focus {
  outline: 1px solid gainsboro;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(133, 133, 133, 1);
  box-shadow: 0px 0px 2px 0px rgba(133, 133, 133, 1);
}

.inner-login .img {
  width: 20%;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .wrapper {
    height: 5vh;
  }
  .login-bg {
    height: 50vh;
  }
  .inner-wrap {
    height: 50vh;
  }
  .login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .inner-login {
    padding: 20px;
  }
}

@media screen and (max-width: 599px) {
  .login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .inner-login {
    padding: 20px;
  }
  .login-bg {
    display: none;
  }
  .inner-wrap {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .inner-wrap .back {
    display: none;
  }
  .inner-login .img {
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .login-pane p {
    text-align: center;
  }
}

/*Sign-Up*/
.inner-wrap-signup {
  margin: 40px;
}

.signup-login {
  padding: 0px 40px;
}
.sign-con {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(138, 138, 138, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(138, 138, 138, 0.5);
  box-shadow: 0px 0px 10px 1px rgba(138, 138, 138, 0.5);
}

@media (max-width: 786px) {
  .inner-wrap-signup {
    margin: 60px 0;
  }

  .signup-login {
    padding: 0px 10px;
  }
  .sign-con {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.modal {
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  top: auto !important;
}

/* Added by Vijay Bhatiya */
.MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input:first-child {
  border: none;
}
.formControlRow {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formControlRow > * {
  width: 100%;
}
.formControlRow .MuiInputLabel-animated {
  display: none;
}
.formControlRow label + .MuiInput-formControl {
  margin-top: 0px;
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-right: 30px !important;
}

.MuiAutocomplete-root {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  padding: 3px 7px;
}
.MuiInput-underline:after,
.MuiInput-underline:before {
  display: none;
}
.svgIconBtn svg {
  width: 25px;
  height: 25px;
}
.svgIconBtn + .svgIconBtn {
  margin-left: 5px;
}
.svgIconBtn svg path,.svgIconBtn svg circle, .svgIconBtn svg polygon {
  fill: #4cadad;
}
.svgIconBtn.delsvgicon svg {
  width: 18px;
  height: 18px;
}
.svgIconBtn.delsvgicon svg path {
  fill: #f95151;
}
.headerBtnIc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.timeline-pad .t-block p {
  padding: 0;
  font-size: 12px;
}
.tableGridUi {
  background: #fff;
  padding: 15px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  border-radius: 10px;
}
.action-cell {
  text-align: center;
  vertical-align: middle !important;
}
.table-content .action-cell .fa {
  font-size: 16px;
  margin: 0 3px;
  color: #1abc9c;
}
.action-cell .fa.fa-trash {
  color: red;
}
button, input, optgroup, select, textarea {
  font-family: "Poppins", sans-serif !important;
}
.deleteBlock {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
}
select.form-control:not([size]):not([multiple]) {
  padding: 3px 10px;
}
.ui.modal .header h3 {
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: 700;
  margin: 0;
}
.hamburgerIcon {
  cursor: pointer;
  width: 40px;
  height: 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.ui.modal>.header button.close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.ui.modal>.close {
  top: 15px !important;
  right: 10px !important;
}
.ui.modal>i.icon.close:before {
  display: none;
}
.ui.form input:not([type]):focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus,
.ui.form select:focus, .ui.form textarea:focus {
  border-color: #85b7d9 !important;
}